{% extends "kipos/index.html" %}

{% block title %}Kipos Login
{% endblock %}
{% block forms %}
<form method="POST" action="">
    {% csrf_token %}
    <label for="id_username">Username</label>
    {{ form.username }}
    <label for="id_password">Password</label>
    {{ form.password }}
    <input type="submit" value="Submit">
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endblock %}